* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}
/*SIDEBAR*/
.sidebar {
  background-color: #1992d4;
  grid-area: 1/ 1 / 4 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr;
  gap: 40px;
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding-left: 20px;
}

.logo {
  height: 80px;
}
#dashboard {
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
img {
  height: 40px;
}

ul {
  list-style: none;
}
li {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}
#firstSection {
  display: grid;
  gap: 15px;
}
#secondSection {
  display: grid;
  gap: 15px;
}

.header {
  box-shadow: 0px 6px 24px -15px #111; /*to fix*/
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
}
.rightProfile {
  grid-column: 2/2;
  align-self: center;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}
.leftProfile {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  font-size: 20px;
}
.leftImage {
  height: 80px;
  align-self: center;
}
.leftText {
  align-self: center;
}
.buttonSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  gap: 10px;
}
button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0fr 4fr;
  padding: 20px;
}
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 20px;
}
.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 5px 2px #ccc;
}
.cardLinks {
  display: flex;
  justify-content: end;
}
