* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}
/*SIDEBAR*/
.sidebar {
  background-color: aqua;
  grid-area: 1/ 1 / 4 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr;
  gap: 40px;
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding-left: 20px;
}

.logo {
  height: 80px;
}
#dashboard {
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
img {
  height: 40px;
}

ul {
  list-style: none;
}
li {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}
#firstSection {
  display: grid;
  gap: 15px;
}
#secondSection {
  display: grid;
  gap: 15px;
}

.header {
  background-color: blueviolet;
}
.main {
  background-color: brown;
}
